<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fitnessapps.spacerayders.activity"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="6" />

    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:icon="@drawable/run_tag"
        android:label="@string/app_name" >
        <activity
            android:name="fitnessapps.spacerayders.activity.SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fitnessapps.spacerayders.activity.SetJoinNameActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name="fitnessapps.spacerayders.activity.DirectionsScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name="fitnessapps.spacerayders.activity.DevicesTrackerActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name="fitnessapps.spacerayders.activity.CreateChoosePlayerNameActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name="fitnessapps.spacerayders.GameNameSetupActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name="fitnessapps.spacerayders.GameActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name="fitnessapps.spacerayders.activity.StartGameDirectionsActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name="fitnessapps.spacerayders.activity.LobbyServerActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name="fitnessapps.spacerayders.activity.UserGameSelectActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name="fitnessapps.spacerayders.activity.FinalScoreActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name="fitnessapps.spacerayders.activity.HowToPlayActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name="fitnessapps.spacerayders.activity.HowToSetUpActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name="fitnessapps.spacerayders.activity.HowToGameActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name="fitnessapps.spacerayders.activity.HowToGainPointsActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name="fitnessapps.spacerayders.activity.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
        <activity
            android:name="fitnessapps.spacerayders.activity.DirectionsActivity"
            android:configChanges="orientation"
            android:screenOrientation="nosensor" />
    </application>

</manifest>